*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    color: #5d5d7d;
    
}





.wrapper{
    height: 100vh;
    width: 100vw;
}



.container-left{
    display: inline-block;  
    width: 67%;
    padding-left: 130px;
    padding-top: 13%;
   
}

.container-right{
    display: inline-block;
    background-color: rgba(93, 93, 125, 0.16);
    height: 100vh;
    width: 100vh;
    position: absolute;
    border-radius: 5px;
 
    
}

img{
    position: relative;
    top: 10%;
    right: 100px;
   
}

h1{
    font-size: 70px;
    line-height: 80px;
    width: 368px;
  
}

p{
    
        font-size: 15px;
        line-height: 30px;
        opacity: 0.6;
        margin: 15px 0;
        width: 540px;
    
}

button{
    width: 200px;
    height: 40px;
    background: #9499ea;
    border-radius: 30px;
    border: none;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: white;
    cursor: pointer;
}

button:hover{
    opacity: .8;
}

button:active{
    opacity: .5;
}



a{
    font-size: 10px;
    line-height: 40px;
    margin-right: 40px;
    font-size: 25px;
    cursor: pointer;
}


a:nth-child(2){
    opacity: 0.8;
}

a:hover{
    opacity: 0.8;
}

a:active{
    opacity: 0.15;
}


header{
    margin: 24px 0 0 57px;
}


@media screen and (max-width: 600px) {
    .container-left{
        width: 100%;
        height: 50%;
        padding: 0;
        margin: 0;
    }
    .container-right{
        display: block;
        height: auto;
        width: 450px;
        position: static;
        padding: 40px;
        background-color: aqua;
        width: auto;
        border-radius: 10px;
     
        
    
    }
    
    img{
        position: static;
        max-width: 80%;
        align-items: center;
       
    }
    header{
        display: none;
    }

    h1{
        font-size: 36px;
        line-height: 50px;
        width: auto;
        margin: 50px 50px 0 50px;
        text-align: center;
    }
    p{
        margin: 15px;
        width: auto;
        text-align: center;
        font-size: 14px;
        line-height: 20px;
    }

    button{
        margin: 0 auto;
        display: block;
        color: black;
    }
}